$footer-bg-color: #333;

.footer {
  background-color: $footer-bg-color;
  padding: 10rem 0;
  font-size: 1.4rem;

  @include respond(tab-port) {
    padding: 8rem 0;
  }
}

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;

  @include respond(tab-port) {
    padding: 6rem 0;
  }
}

.footer__logo {
  width: 15rem;
  height: auto;
}

.footer__navigation {
  border-top: 1px solid #888;
  padding-top: 2rem;
  display: inline-block;

  @include respond(tab-port) {
    width: 100%;
    text-align: center;
  }
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.footer__link {
  &:link,
  &:visited {
    color: #f7f7f7;
    background-color: $footer-bg-color;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    // transform: scale(1.2);
  }
}

.footer__copyright {
  border-top: 1px solid #888;
  padding-top: 2rem;
  display: inline-block;
  color: #f7f7f7;
}
