$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

// $color-secondary: #ff9818;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// $color-tertiary: #3fee7c;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-white: white;
$color-black: black;

$colors: (
  green-light: #7ed56f,
  green-dark: #28b485,
  primary-light: #7ed56f,
  primary-dark: #28b485,
  orange-light: #ffb900,
  orange-dark: #ff7730,
  secondary-light: #ffb900,
  secondary-dark: #ff7730,
  tertiary-light: #2998ff,
  tertiary-dark: #5643fa
);
